<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 0.0">

	<robot name="RRRRBOT">
		<model dir="${EXAMPLE_11_FOLDER}" path="rrrrbot.urdf" name="RRRRBot" />
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	</robot>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera">
		<position xyz="1.0 0.0 2.0" />
		<vertical xyz="0.0 1.0 0.0" />
		<lookat xyz="1.0 0.0 0.0" />
	</camera>

</world>
